h1
{
    color:blue;
    font-size: 50px;
    text-align: center;
}
p
{
    color:khaki;
    font-size: 20px;
    font-weight: bold;
    text-decoration: aquamarine;
    background-color:slategrey; 
    font-style: italic;
    width: fit-content;
}
a
{
color: Green;
font-size: 30px;
}
fieldset{
    width: fit-content;
}